@model CompassAirlines.Models.Flights

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<!-- I added an Image to easily know which page you are on -->
<img src="~/images/PlaneInterior.png" style="width:100%" />

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Flights</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Staff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Staff.FullName)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Planes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Planes.PlaneNum)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Passengers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Passengers)
        </dd>
        <dt class="col-sm-2">

            <!-- I Added Kgs to make it clear to understand -->
            @Html.DisplayNameFor(model => model.Weight) kgs
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightStatus)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FlightID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
